{{#extends "base"}}

{{#block "title"}}Create New Customer{{/block}}

{{#block "content"}}
<h1>Create New Customer</h1>
<form method="POST">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name"/>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name"/>
    </div>
    <div class="mb-3">
        <label>Rating</label>
        <input type="number" class="form-control" name="rating"/>
    </div>
    <div class="mb-3">
        <label>Company</label>
        <select name="company_id" class="form-control">
            {{#each companies}}
            <option value="{{company_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
{{/block}}

{{/extends}}
