{{#extends "base"}}


{{#block "title"}}Contact Us{{/block}}

{{#block "content"}}
<h1 class="display-1">Contact Us</h1>
<form method="POST">
    <div>
        <label>Email:</label>
        <input type="text" class="form-control"/>
    </div>
    <div>
        <label>Feedback:</label>
        <textarea class="form-control"></textarea>
    </div>
</form>
{{/block}}

{{/extends}}
