{{#extends "base"}}

{{#block "title"}}
ACME Hardware Home
{{/block}}

{{#block "content"}}
        <h1 class="display-1">Welcome to ACME Hardwares!</h1>
        <h2>The best place to buy anvils to drop on roadrunners</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in
            eleifend augue, quis vestibulum massa. Pellentesque bibendum, risus
            vel semper dignissim, mauris velit aliquet erat, aliquet iaculis
            arcu lectus at diam. Phasellus eu ante auctor, lacinia libero sit
            amet, rhoncus dui. Proin pellentesque tristique justo vel feugiat.
            In tortor metus, vulputate scelerisque hendrerit pulvinar, commodo
            ut ipsum. Vestibulum nulla augue, pellentesque et euismod rhoncus,
            maximus sit amet dui. Aenean ut lacus eget enim tempor sodales. In
            ac ipsum vel risus sodales rutrum.
        </p>
        <p>
            Duis viverra mi non ultricies egestas. In ultricies sodales dolor
            sed porttitor. Praesent sed varius nisl, et pretium mi. Fusce vel
            nisl nibh. Vivamus bibendum pellentesque suscipit. Fusce id
            ullamcorper risus. Ut ante turpis, accumsan egestas fermentum in,
            convallis in ex. Fusce vel augue tortor. Ut ac nunc enim. Proin
            dignissim, risus quis lobortis posuere, leo est lacinia justo, nec
            lacinia nisl elit quis turpis. Nam posuere enim at nisl mattis, vel
            tincidunt diam venenatis. Aenean est orci, aliquet sed dignissim a,
            fringilla ac ligula. Vestibulum felis arcu, rutrum et lacinia quis,
            faucibus a erat. In eu vestibulum enim.
        </p>
        <p>
            Sed vitae cursus ante, sit amet tincidunt mauris. Etiam facilisis
            ultricies nisl, sed laoreet arcu bibendum quis. Pellentesque nec
            odio eget turpis accumsan condimentum eget vitae magna. Vestibulum
            nec enim lacinia, congue ipsum nec, tempor est. Proin at venenatis
            magna, sed malesuada metus. Suspendisse ut molestie velit. Nulla in
            lectus eget purus facilisis varius. Nulla vel libero sit amet magna
            dapibus aliquet. Aenean eu blandit magna, sit amet ullamcorper
            purus. Fusce gravida, nunc eget commodo sodales, ex nisi
            pellentesque tortor, eu consectetur metus lorem ac mi. Nam sit amet
            blandit nunc. Fusce sodales sit amet diam a viverra.
        </p>
        <p>
            Nunc consectetur tristique sapien vitae sollicitudin. Nam hendrerit
            nec orci et feugiat. Vivamus finibus diam augue, vitae aliquet odio
            accumsan id. Nulla sed orci neque. Fusce diam eros, volutpat vitae
            enim id, commodo vulputate elit. Mauris malesuada lectus eu velit
            faucibus luctus. Cras bibendum tellus non turpis tincidunt, et
            rutrum velit dignissim. Mauris pretium risus et porttitor venenatis.
            Suspendisse vitae enim nunc. Praesent gravida, nibh vel tincidunt
            commodo, mi nulla semper ligula, in scelerisque justo mi vitae nibh.
            In sapien dolor, iaculis eget arcu sed, gravida tristique magna.
            Nunc a viverra felis. Duis in orci nibh.
        </p>
        <p>
            Nulla et lacus luctus, pellentesque risus vitae, varius velit.
            Vivamus eget finibus nulla. Nam augue turpis, semper sit amet diam
            eu, vehicula tincidunt justo. Praesent in magna eu justo vestibulum
            fermentum. Phasellus convallis nunc consequat felis lacinia, quis
            scelerisque nisl facilisis. Suspendisse vel nulla sollicitudin,
            finibus quam et, aliquam justo. Praesent eget mollis risus, et
            posuere nibh. Nam in molestie mauris, ut placerat augue. Vivamus
            aliquam, elit nec mattis dapibus, ipsum urna posuere dui, id laoreet
            metus tellus et metus. Nullam commodo fermentum fringilla.</p>
        </p>

{{/block}}

{{/extends}}
